@using Geekroad.Storage.Entity
@model ICollection<ArticleProto>
    @foreach (var article in Model)
    {
    ViewData["Title"] = "GR - "+@article.Name;
    }

    @foreach (var article in Model)
    {
    <h1>@article.Name</h1>
    }

    <div>

        @foreach (var article in Model)
        {
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="https://picsum.photos/2000/500" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@article.Name</h5>
                    <p class="card-text">@article.ShortText</p>
                    <p class="card-text">@article.Author.Nickname</p>
                    <p class="card-text">@article.Text</p>
                </div>
            </div>
        }

    </div>
